# MQTT Configuration
REACT_APP_MQTT_HOST=localhost
REACT_APP_MQTT_PORT=1884

# Application Configuration  
REACT_APP_CLIENT_ID_PREFIX=180624_houdini

# Development Configuration
REACT_APP_DEBUG=true
REACT_APP_MQTT_TRACE=false

# Clock Configuration
REACT_APP_DEFAULT_COUNTDOWN=300
REACT_APP_HINT_DURATION=25
